<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app}">
<body>
<section layout:fragment="content">

    <div class="card soft-card">
        <div class="card-body">
            <h4 class="section-title mb-4">Crear solicitud</h4>

            <form th:action="${solicitud.id == null ? '/cliente/solicitudes' : '/cliente/solicitudes/' + solicitud.id + '/editar'}"
                  th:object="${solicitud}"
                  method="post"
                  enctype="multipart/form-data">

                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">

                <div class="mb-3">
                    <label class="form-label">Tipo de trámite</label>
                    <select name="tipoTramiteId" class="form-select" required>
                        <option value="">Selecciona un tipo</option>
                        <option th:each="tipo : ${tiposTramite}"
                                th:value="${tipo.id}"
                                th:text="${tipo.nombre}"
                                th:selected="${tipoTramiteId != null and tipo.id == tipoTramiteId}">
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Matrícula</label>
                    <input type="text" th:field="*{matricula}" class="form-control" required
                    th:classappend="${#fields.hasErrors('matricula')} ? 'is-invalid' : ''">
                </div>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('matricula')}"
                         th:errors="*{matricula}"></div>



                <hr class="my-4">

                <h3 class="section-title mb-3">Interesado 1</h3>

                <div class="row g-3 mb-4">
                    <div class="col-md-4">
                        <label class="form-label">Rol</label>
                        <select th:field="*{interesado1Rol}" class="form-select">
                            <option value="">Selecciona rol</option>
                            <option value="COMPRADOR">Comprador</option>
                            <option value="VENDEDOR">Vendedor</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Nombre</label>
                        <input type="text" th:field="*{interesado1Nombre}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado1Nombre')} ? 'is-invalid' : ''">
                    </div>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado1Nombre')}"
                             th:errors="*{interesado1Nombre}">

                        </div>


                    <div class="col-md-4">
                        <label class="form-label">DNI/NIF</label>
                        <input type="text" th:field="*{interesado1Dni}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado1Dni')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado1Dni')}"
                             th:errors="*{interesado1Dni}">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Teléfono</label>
                        <input type="text" th:field="*{interesado1Telefono}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado1Telefono')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado1Telefono')}"
                             th:errors="*{interesado1Telefono}">
                    </div>

                    <div class="col-12">
                        <label class="form-label">Dirección</label>
                        <input type="text" th:field="*{interesado1Direccion}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado1Direccion')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado1Direccion')}"
                             th:errors="*{interesado1Direccion}">

                    </div>
                </div>

                <hr class="my-4">

                <h3 class="section-title mb-3">Interesado 2</h3>

                <div class="row g-3 mb-4">
                    <div class="col-md-4">
                        <label class="form-label">Rol</label>
                        <select th:field="*{interesado2Rol}" class="form-select">
                            <option value="">Selecciona rol</option>
                            <option value="COMPRADOR">Comprador</option>
                            <option value="VENDEDOR">Vendedor</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Nombre</label>
                        <input type="text" th:field="*{interesado2Nombre}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado2Nombre')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado2Nombre')}"
                             th:errors="*{interesado2Nombre}">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">DNI/NIF</label>
                        <input type="text" th:field="*{interesado2Dni}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado2Dni')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado2Dni')}"
                             th:errors="*{interesado2Dni}">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Teléfono</label>
                        <input type="text" th:field="*{interesado2Telefono}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado2Telefono')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado2Telefono')}"
                             th:errors="*{interesado2Telefono}">
                    </div>

                    <div class="col-12">
                        <label class="form-label">Dirección</label>
                        <input type="text" th:field="*{interesado2Direccion}" class="form-control"
                        th:classappend="${#fields.hasErrors('interesado2Direccion')} ? 'is-invalid' : ''">
                    </div>
                    <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('interesado2Direccion')}"
                             th:errors="*{interesado2Direccion}">
                    </div>
                </div>

                <hr class="my-4">

                <div th:if="${solicitud.id == null}">
                    <h3 class="section-title mb-3">Documentación</h3>
                    <div id="documentos-container"></div>
                    <button type="button" class="btn btn-outline-primary mb-3" onclick="addDocumentoRow()">
                        + Añadir documento
                    </button>
                </div>

                <div class="mb-3">
                    <label class="form-label">Observaciones</label>
                    <textarea th:field="*{observaciones}" class="form-control" rows="4"></textarea>
                </div>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary" onclick="this.disabled=true; this.form.submit();">Guardar solicitud</button>
                    <a th:href="@{/solicitudes}" class="btn btn-outline-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {

            let index = 0;
            const tipos = /*[[${tiposDocumento}]]*/ [];

            window.addDocumentoRow = function () {
                const container = document.getElementById('documentos-container');

                const row = document.createElement('div');
                row.classList.add('row', 'mb-2');

                row.innerHTML = `
                    <div class="col-md-5">
                        <input type="file" name="documentos[${index}].archivo" class="form-control">
                    </div>

                    <div class="col-md-5">
                        <select name="documentos[${index}].tipoDocumento" class="form-select">
                            <option value="">Tipo</option>
                            ${generarOpcionesTipo()}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" onclick="this.closest('.row').remove()">
                            X
                        </button>
                    </div>
                `;

                container.appendChild(row);
                index++;
            };

            function generarOpcionesTipo() {
                let html = "";

                tipos.forEach(tipo => {
                    html += `<option value="${tipo}">${tipo}</option>`;
                });

                return html;
            }

            addDocumentoRow();
        });
    </script>

</section>
</body>
</html>