
<aside th:fragment="sidebar(usuarioLogueado)" class="col-md-3 col-lg-2 sidebar">
    <div class="sidebar-brand text-center mb-4">
        <img th:src="@{/images/simbolo.jpg}" class="logo-icon" alt="Logo" style="max-height: 40px;">
        <div class="sidebar-title mt-2">Gestoría Portal</div>
    </div>

    <nav class="nav flex-column">

        <th:block th:if="${usuarioLogueado != null and usuarioLogueado.rolUsuario.name() == 'ADMIN'}">
            <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
            <a class="nav-link" th:href="@{/solicitudes}">Solicitudes</a>
            <a class="nav-link" th:href="@{/expedientes}">Expedientes</a>
            <a class="nav-link" th:href="@{/admin/usuarios}">Usuarios</a>
        </th:block>

        <th:block th:if="${usuarioLogueado != null and usuarioLogueado.rolUsuario.name() == 'CLIENTE'}">
            <a class="nav-link" th:href="@{/cliente/dashboard}">Dashboard</a>
            <a class="nav-link" th:href="@{/solicitudes}">Mis Solicitudes</a>
            <a class="nav-link" th:href="@{/expedientes}">Mis expedientes</a>
            <a class="nav-link" href="#">Mi perfil</a>
        </th:block>
    </nav>
</aside>
